<div style="text-align: center;">
  <i class="fa fa-2x fa-openid"></i> 
  <b class="fa-2x" > {{getMessage("authorization_request_html@personalInfo")}} </b>
  <br/>
  <span *ngIf="isClientVerified() === undefined">
    <i class="fa fa-2x fa-circle-o-notch fa-spin fa-fw"></i> 
    <b class="fa-2x" > {{getMessage("authorization_request_html@verifyRequest")}}</b>
  </span>
  <br/>
</div>
<div class="card" *ngIf="isClientVerified()" style="margin-left:30%; width:40%;">
  <div class="card-body" >
    <strong>{{ oidcService.clientName }}</strong>
    {{getMessage("authorization_request_html@chooseId")}}
    <ul>
      <li *ngFor="let attribute of getRequestedStandardScopesWithDescription()"><strong>{{attribute}}</strong></li>
    </ul>
    <div *ngIf="getRequestedNonStandardClaims().length > 0">
      {{getMessage("authorization_request_html@attributes")}}
      <ul>
        <li *ngFor="let attribute of getRequestedNonStandardClaims()"><strong>{{attribute}}</strong></li>
      </ul>
    </div>
  </div>
  <!-- Sharing disclaimer -->
  <div class="alert alert-warning alert-dismissible fade show mb-1" role="alert">
    <i class="fa fa-exclamation-triangle mr-2"></i>
    <strong>{{getMessage("authorization_request_html@personalDataWarning1")}}</strong>
    {{getMessage("authorization_request_html@personalDataWarning2", oidcService.clientName)}}
  </div>
  <div style="margin: 1em;">
    <button class="btn btn-danger m-1 mt-4" *ngIf="isClientVerified()" (click)="cancelRequest()" style="margin-bottom: -4%;">
      <span class="fa fa-ban"></span> {{getMessage("Decline")}}
    </button>
    <button class="btn btn-primary m-1 mt-4" [routerLink]="['/']" *ngIf="isClientVerified()">
      <span class="fa fa-arrow-circle-right"></span> {{getMessage("authorization_request_html@selectId")}}
    </button>
  </div>
</div>
<div *ngIf="isClientVerified() !== undefined && !isClientVerified()" style="text-align: center;">
  <div class="alert alert-danger show" role="alert">
    <b >{{getMessage("authorization_request_html@authFailed")}}</b><br/>
    <button class="btn btn-primary mt-4" *ngIf="!isClientVerified()" (click)="retryVerify();">
      <span class="fa fa-openid"></span> {{getMessage("authorization_request_html@retry")}}
    </button>
  </div>
</div>
<div *ngIf="isClientVerified() === undefined" style="text-align: center;">
  <button class="btn btn-danger mt-4" *ngIf="isClientVerified() === undefined" (click)="cancelRequest()">
    <span class="fa fa-ban"></span> {{getMessage("authorization_request_html@cancelRequest")}}
  </button>
</div>

