<div style="text-align: center;">
  <i class="fa fa-2x fa-openid"></i> 
  <b class="fa-2x" > {{getMessage("authorization_request_html@personalInfo")}} </b>
  <br/>
  <span *ngIf="isClientVerified() === undefined">
    <i class="fa fa-2x fa-circle-o-notch fa-spin fa-fw"></i> 
    <b class="fa-2x" > {{getMessage("authorization_request_html@verifyRequest")}}</b>
  </span>
  <br/>
</div>
<div *ngIf="isClientVerified() === undefined" style="text-align: center;">
  <button class="btn btn-danger mt-4" *ngIf="isClientVerified() === undefined" (click)="cancelRequest()">
    <span class="fa fa-ban"></span> {{getMessage("authorization_request_html@cancelRequest")}}
  </button>
</div>

