<!-- Identity edit screen -->
<div class="m-2 card">
  <div class="card-avatar card-img-top">
    <div class="card-avatar-character text-dark">
      <h2 class="fa-2x"><i class="fa fa-user-circle pr-2"></i> {{ identity.name }}</h2>
    </div>
  </div>
  <!-- Attribute table -->
  <div class="card-body">
    <div>
      <h3 class="card-subtitle mb-2">Basic user information <span (click)="showGeneralInfo = !showGeneralInfo" class="fa fa-question-circle"></span></h3>
      <div class="alert alert-secondary fade show" *ngIf="showGeneralInfo">
        The attributes below correspond to the standard scopes of the OpenID Connect
        specification: profile, email, phone and address.
      </div>

      <table class="table pb-1" *ngIf="showGeneralInfo">
        <tbody>
          <!-- Standard "profile" claims first -->
          <tr [class.openid]="inOpenIdFlow()"
              [class.text-primary]="isClaimRequested(claim)"
              [class.alert-danger]="newAttribute.name === claim.name"
              *ngFor="let claim of existingProfileClaims">
            <td><div style="min-width: 15em"><b>{{ getDescription(claim) }}</b></div></td>
            <td>
              <input *ngIf="!isClaimAttested(claim)" placeholder="Value" [(ngModel)]="claim.value">
              <span *ngIf="isClaimAttested(claim)" >{{ getAttestedValue(claim) }} issued by <i>{{ getIssuer(claim) }}</i> as attribute for ``{{ claim.value }}''</span>
            </td>
            <td>
              <button class="btn btn-primary" (click)="deleteAttribute(claim)" *ngIf="!isClaimAttested(claim)">
                <span class="fa fa-trash"></span>
              </button>
              <button class="btn btn-primary"  (click)="deleteAttribute(claim)" *ngIf="isClaimAttested(claim)">
                <span class="fa fa-trash"></span>
              </button>
            </td>
          </tr>
          <!-- Standard "profile" claims missing on the identity -->
          <tr [class.openid]="inOpenIdFlow()"
              [class.text-primary]="isClaimRequested(claim)"
              [class.alert-danger]="newAttribute.name === claim.name"
              *ngFor="let claim of missingProfileClaims">
            <td><div style="min-width: 15em"><b>{{ getDescription(claim) }}</b></div></td>
            <td>
              <!-- FIXME Allow adding of attestation OR plain value -->
              <input placeholder="Value" [(ngModel)]="claim.value">
              <!--<input *ngIf="!isClaimAttested(claim)" placeholder="Value" [(ngModel)]="claim.value">
              <span *ngIf="isClaimAttested(claim)" >{{ getAttestedValue(claim) }} issued by <i>{{ getIssuer(claim) }}</i> as attribute for ``{{ claim.value }}''</span>-->
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table pb-1">
        <tbody>
          <!-- Standard "email" claims first -->
          <tr [class.openid]="inOpenIdFlow()"
              [class.text-primary]="isClaimRequested(claim)"
              [class.alert-danger]="newAttribute.name === claim.name"
              *ngFor="let claim of existingEmailClaims">
            <td><div style="min-width: 15em"><b>{{ getDescription(claim) }}</b></div></td>
            <td>
              <input *ngIf="!isClaimAttested(claim)" placeholder="Value" [(ngModel)]="claim.value">
              <span *ngIf="isClaimAttested(claim)" >{{ getAttestedValue(claim) }} issued by <i>{{ getIssuer(claim) }}</i> as attribute for ``{{ claim.value }}''</span>
            </td>
            <td>
              <button class="btn btn-primary" (click)="deleteAttribute(claim)" *ngIf="!isClaimAttested(claim)">
                <span class="fa fa-trash"></span>
              </button>
              <button class="btn btn-primary"  (click)="deleteAttribute(claim)" *ngIf="isClaimAttested(claim)">
                <span class="fa fa-trash"></span>
              </button>
            </td>
          </tr>
          <!-- Standard "email" claims missing on the identity -->
          <tr [class.openid]="inOpenIdFlow()"
              [class.text-primary]="isClaimRequested(claim)"
              [class.alert-danger]="newAttribute.name === claim.name"
              *ngFor="let claim of missingEmailClaims">
            <td><div style="min-width: 15em"><b>{{ getDescription(claim) }}</b></div></td>
            <td>
              <!-- FIXME Allow adding of attestation OR plain value -->
              <input placeholder="Value" [(ngModel)]="claim.value">
              <!--<input *ngIf="!isClaimAttested(claim)" placeholder="Value" [(ngModel)]="claim.value">
              <span *ngIf="isClaimAttested(claim)" >{{ getAttestedValue(claim) }} issued by <i>{{ getIssuer(claim) }}</i> as attribute for ``{{ claim.value }}''</span>-->
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>


      <table class="table pb-1">
        <tbody>
          <!-- Standard "address" claims first -->
          <tr [class.openid]="inOpenIdFlow()"
              [class.text-primary]="isClaimRequested(claim)"
              [class.alert-danger]="newAttribute.name === claim.name"
              *ngFor="let claim of existingAddressClaims">
            <td><div style="min-width: 15em"><b>{{ getDescription(claim) }}</b></div></td>
            <td>
              <input *ngIf="!isClaimAttested(claim)" placeholder="Value" [(ngModel)]="claim.value">
              <span *ngIf="isClaimAttested(claim)" >{{ getAttestedValue(claim) }} issued by <i>{{ getIssuer(claim) }}</i> as attribute for ``{{ claim.value }}''</span>
            </td>
            <td>
              <button class="btn btn-primary" (click)="deleteAttribute(claim)" *ngIf="!isClaimAttested(claim)">
                <span class="fa fa-trash"></span>
              </button>
              <button class="btn btn-primary"  (click)="deleteAttribute(claim)" *ngIf="isClaimAttested(claim)">
                <span class="fa fa-trash"></span>
              </button>
            </td>
          </tr>
          <!-- Standard "profile" claims missing on the identity -->
          <tr [class.openid]="inOpenIdFlow()"
              [class.text-primary]="isClaimRequested(claim)"
              [class.alert-danger]="newAttribute.name === claim.name"
              *ngFor="let claim of missingAddressClaims">
            <td><div style="min-width: 15em"><b>{{ getDescription(claim) }}</b></div></td>
            <td>
              <!-- FIXME Allow adding of attestation OR plain value -->
              <input placeholder="Value" [(ngModel)]="claim.value">
              <!--<input *ngIf="!isClaimAttested(claim)" placeholder="Value" [(ngModel)]="claim.value">
              <span *ngIf="isClaimAttested(claim)" >{{ getAttestedValue(claim) }} issued by <i>{{ getIssuer(claim) }}</i> as attribute for ``{{ claim.value }}''</span>-->
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="table pb-1">
        <tbody>
          <!-- Standard "phone" claims first -->
          <tr [class.openid]="inOpenIdFlow()"
              [class.text-primary]="isClaimRequested(claim)"
              [class.alert-danger]="newAttribute.name === claim.name"
              *ngFor="let claim of existingPhoneClaims">
            <td><div style="min-width: 15em"><b>{{ getDescription(claim) }}</b></div></td>
            <td>
              <input *ngIf="!isClaimAttested(claim)" placeholder="Value" [(ngModel)]="claim.value">
              <span *ngIf="isClaimAttested(claim)" >{{ getAttestedValue(claim) }} issued by <i>{{ getIssuer(claim) }}</i> as attribute for ``{{ claim.value }}''</span>
            </td>
            <td>
              <button class="btn btn-primary" (click)="deleteAttribute(claim)" *ngIf="!isClaimAttested(claim)">
                <span class="fa fa-trash"></span>
              </button>
              <button class="btn btn-primary"  (click)="deleteAttribute(claim)" *ngIf="isClaimAttested(claim)">
                <span class="fa fa-trash"></span>
              </button>
            </td>
          </tr>
          <!-- Standard "phone" claims missing on the identity -->
          <tr [class.openid]="inOpenIdFlow()"
              [class.text-primary]="isClaimRequested(claim)"
              [class.alert-danger]="newAttribute.name === claim.name"
              *ngFor="let claim of missingPhoneClaims">
            <td><div style="min-width: 15em"><b>{{ getDescription(claim) }}</b></div></td>
            <td>
              <select *ngIf="isExperimental()" class="custom-select" (change)="claim.flag=$event.target.value; ">
                <option value="0">Plain</option>
                <option value="1">Attested</option>
              </select>

              <input *ngIf="claim.flag == '0'" placeholder="Value" [(ngModel)]="claim.value">
              <select *ngIf="claim.flag == '1'" class="custom-select"
                (change)="claim.attestation=$event.target.value; ">
                <option value="">Select attestation source</option>
                <option *ngFor="let attest of attestations" value={{attest.id}}>
                {{attest.name}}
                </option>
              </select>

              <select class="custom-select"
                *ngIf="claim.attestation !== '' && claim.flag == '1'" (change)="claim.value=$event.target.value">
                <option value="">Select claim</option>
                <option *ngFor="let att of attestationValuesForClaim(claim)" value={{att.name}}>
                {{att.value}} <i>({{att.name}})</i>
                </option>
              </select>

                          </td>

            <td>
            </td>
          </tr>
        </tbody>
      </table>


      <h3 class="card-subtitle mb-2">Additional information <span (click)="showExtraInfo = !showExtraInfo" class="fa fa-question-circle"></span></h3>
      <div class="alert alert-secondary fade show" *ngIf="showExtraInfo">These are non-standard claims.</div>

      <!-- Missing "non-standard" claims that are requested -->
      <table class="table pb-1" *ngIf="isAnyRequestedNonStandardClaimMissing()">
        <tbody>
          <tr [class.openid]="inOpenIdFlow()"
            [class.alert-danger]="newAttribute.name === missing.name"
            class="text-primary"
            *ngFor="let missing of missingNonStandardClaims">
            <td><div style="min-width: 15em"><b>{{missing.name}}</b></div></td>
            <td>
              <input *ngIf="!isClaimAttestationRequested(missing)" placeholder="Value" [(ngModel)]="missing.value">
              <select *ngIf="isClaimAttestationRequested(missing)" class="custom-select" (change)="missing.attestation=$event.target.value; ">
                <option value="">Select attestation source</option>
                <option *ngFor="let attest of attestations" value={{attest.id}}>
                  {{attest.name}}
                </option>
              </select>

              <select *ngIf="isClaimAttestationRequested(missing) && missing.attestation !== ''" class="custom-select" (change)="missing.value=$event.target.value">
                <option value="">Select claim</option>
                <option *ngFor="let claim of attestationValuesForAttested(missing)" value={{claim.name}}>
                  {{claim.value}} <i>({{claim.name}})</i>
                </option>
              </select>
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- "non-standard" claims which do exist -->
      <table class="table pb-1" style="">
        <tbody>
          <tr [class.openid]="inOpenIdFlow()"
            [class.text-primary]="isClaimRequested(attribute)"
            [class.alert-danger]="newAttribute.name === attribute.name"
            [class.text-secondary]="isClaimAttested(attribute)"
            *ngFor="let attribute of existingNonStandardClaims">
            <td><div style="min-width: 15em"><b>{{ attribute.name }}</b></div></td>
            <td>
              <input *ngIf="!isClaimAttested(attribute)" placeholder="Value" [(ngModel)]="attribute.value">
              <span *ngIf="isClaimAttested(attribute)" >{{ getAttestedValue(attribute) }} issued by <i>{{ getIssuer(attribute) }}</i> as attribute for ``{{ attribute.value }}''</span>
            </td>
            <td>
              <button class="btn btn-primary" (click)="deleteAttribute(attribute)" *ngIf="!isClaimAttested(attribute)">
                <span class="fa fa-trash"></span>
              </button>
              <button class="btn btn-primary"  (click)="deleteAttribute(attribute)" *ngIf="isClaimAttested(attribute)">
                <span class="fa fa-trash"></span>
              </button>
            </td>
          </tr>
          <!-- New Attribute -->
          <tr [class.alert-danger]="isInConflict(newAttribute)">
            <td>
              <input [class.text-danger]="!attributeNameValid(newAttribute)" placeholder="Attribute" [(ngModel)]="newAttribute.name">
            </td>
            <td>

              <select *ngIf="isExperimental()" class="custom-select" (change)="newAttribute.flag=$event.target.value; ">
                <option value="0">Plain</option>
                <option value="1">Attested</option>
              </select>
              <input *ngIf="newAttribute.flag == '0'" placeholder="Value" [class.text-danger]="!attributeValueValid(newAttribute)" [(ngModel)]="newAttribute.value">
              <select *ngIf="newAttribute.flag == '1'" class="custom-select"
                (change)="newAttribute.attestation=$event.target.value; ">
                <option value="">Select attestation source</option>
                <option *ngFor="let attest of attestations" value={{attest.id}}>
                {{attest.name}}
                </option>
              </select>

              <select class="custom-select"
                *ngIf="newAttribute.attestation !== '' && newAttribute.flag == '0'" (change)="newAttribute.value=$event.target.value">
                <option value="">Select claim</option>
                <option *ngFor="let claim of attestationValuesForClaim(newAttribute)" value={{claim.name}}>
                {{claim.value}} <i>({{claim.name}})</i>
                </option>
              </select>
            </td>
            <td>
              <button [disabled]="!canAddAttribute(newAttribute)" class="btn btn-primary"  (click)="addAttribute()">
                <span class="fa fa-plus"></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Attribute creation warning -->
    <div *ngIf="!attributeNameValid(newAttribute) || !attributeValueValid(newAttribute)" class="alert alert-primary alert-dismissible fade show" role="alert">
      <span class="fa fa-warning"></span> Note:
      <ul>
        <li>Only use alphanumeric attribute names.</li>
        <li>You cannot define the same name twice.</li>
        <li>Attribute values may not be empty!</li>
      </ul>
    </div>

    <hr/>

    <!-- Edit card buttons -->
    <div>
      <button class="btn btn-primary" (click)="saveIdentity()" [disabled]="!canSaveIdentity()">
        <span class="fa fa-save"></span> Save and Back
      </button>
      <button *ngIf="!inOpenIdFlow()" class="btn btn-primary" [routerLink]="['/edit-authorizations', identity.name]" [style.float]="'right'">
        <span class="fa fa-openid"></span>
        Manage authorizations
      </button>
      <button *ngIf="!inOpenIdFlow() && isExperimental()" class="btn btn-primary" [routerLink]="['/edit-attestations', identity.name]" [style.float]="'right'">
        <span class="fa fa-openid"></span>
        Manage attestations
      </button>

    </div>
  </div>
</div>
