<!-- Identity edit screen -->
<div class="m-2 card">
  <div class="card-avatar card-img-top">
    <div class="card-avatar-character text-dark">
      Manage identity: <i>{{ identity.name }}</i>
    </div>
  </div>
  <!-- Attribute table -->
  <div class="card-body">
    <div>
      <h6 class="card-subtitle mb-2">Attributes:</h6>
      <!-- Missing attributes -->
      <table class="table pb-1" *ngIf="isAttributeMissing() || isAttestedMissing()">
        <thead>
          <tr>
              <th>Attribute Name</th>
              <th>Attribute Value</th>
          </tr>
        </thead>
        <tbody>
          <tr [class.openid]="inOpenIdFlow()" [class.alert-danger]="newAttribute.name === missing.name" class="text-primary" *ngFor="let missing of missingAttributes">
            <td><div style="min-width: 15em">{{missing.name}}</div></td>
            <td>
              <input placeholder="Value" [(ngModel)]="missing.value">
            </td>
            <td>
            </td>
          </tr>
          <tr [class.openid]="inOpenIdFlow()" [class.alert-danger]="newAttested.name === missing.name" class="text-primary" *ngFor="let missing of missingAttested">
            <td><div style="min-width: 15em">{{missing.name}}</div></td>
            <td>
              <select (change)="missing.attestation=$event.target.value; ">
                <option value="">Attestation</option>
                <option *ngFor="let attest of attestations" value={{attest.id}}>
                  {{attest.name}}
                </option>
              </select>

              <select *ngIf="missing.attestation !== ''" (change)="missing.value=$event.target.value">
                <option value="">Source</option>
                <option *ngFor="let claim of attestationValuesForAttested(missing)" value={{claim.name}}>
                  {{claim.name}}
                </option>
              </select>
            </td>
            <td>
            </td>
          </tr>

        </tbody>
      </table>
      <!-- Requested attributes -->
      <table class="table pb-1" style="">
        <thead *ngIf="!isAttributeMissing()">
          <tr>
              <th>Attribute Name</th>
              <th>Attribute Value</th>
          </tr>
        </thead>
        <tbody>
          <tr [class.openid]="inOpenIdFlow()" [class.text-primary]="isRequested(attribute)" [class.alert-danger]="newAttribute.name === attribute.name" [class.text-secondary]="isAttestation(attribute)" *ngFor="let attribute of attributes">
            <td><div style="min-width: 15em">{{ attribute.name }}</div></td>
            <td>
              <input *ngIf="!isAttestation(attribute)" placeholder="Value" [(ngModel)]="attribute.value">
              <span *ngIf="isAttestation(attribute)" >{{ getAttestedValue(attribute) }} issued by <i>{{ getIssuer(attribute) }}</i> as attribute for ``{{ attribute.value }}''</span>
            </td>
            <td>
              <button class="btn btn-primary" (click)="deleteAttribute(attribute)" *ngIf="!isAttestation(attribute)">
                <span class="fa fa-trash"></span>
              </button>
              <button class="btn btn-primary"  (click)="deleteAttribute(attribute)" *ngIf="isAttestation(attribute)">
                <span class="fa fa-trash"></span>
              </button>
            </td>
          </tr>
          <!-- New Attribute -->
          <tr [class.alert-danger]="isInConflict(newAttribute)">
            <td>
              <input [class.text-danger]="!attributeNameValid(newAttribute)" placeholder="Attribute" [(ngModel)]="newAttribute.name">
            </td>
            <td>
              <input placeholder="Value" [class.text-danger]="!attributeValueValid(newAttribute)" [(ngModel)]="newAttribute.value">
            </td>
            <td>
              <button [disabled]="!canAddAttribute(newAttribute)" class="btn btn-primary"  (click)="addAttribute()">
                <span class="fa fa-plus"></span>
              </button>
            </td>
          </tr>
          <!--new Attested Attribute-->
          <tr [class.alert-danger]="isAttestedInConflict(newAttested)" *ngIf="0 != attestations.length">
            <td>
              <input [class.text-danger]="!attestedNameValid(newAttested)" placeholder="Attested attribute" [(ngModel)]="newAttested.name">
            </td>
            <td>
              <select (change)="newAttested.attestation=$event.target.value; ">
                <option value="">(-)</option>
                <option *ngFor="let attest of attestations" value={{attest.id}}>
                {{attest.name}}
                </option>
              </select>

              <select *ngIf="newAttested.attestation !== ''" (change)="newAttested.value=$event.target.value">
                <option value="">(-)</option>
                <option *ngFor="let claim of attestationValuesForAttested(newAttested)" value={{claim.name}}>
                  {{claim.name}}
                </option>
              </select>
            </td>

            <td>
              <button [disabled]="!canAddAttested(newAttested)" class="btn btn-primary"  (click)="addAttested()">
                <span class="fa fa-plus"></span> 
              </button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
    <!-- Attribute creation warning -->
    <div *ngIf="!attributeNameValid(newAttribute) || !attributeValueValid(newAttribute)" class="alert alert-primary alert-dismissible fade show" role="alert">
      <span class="fa fa-warning"></span> Note:
      <ul>
        <li>Only use alphanumeric attribute names.</li>
        <li>You cannot define the same name twice.</li>
        <li>Attribute values may not be empty!</li>
      </ul>
    </div>
    <!-- optional attributes information -->
    <div *ngIf="optionalAttested.length !== 0" class="text-primary">
      <span class="fa fa-openid"></span> You may optionally provide attestations for:
      <ul>
        <li *ngFor="let attribute of optionalAttested"><strong>{{attribute.name}}</strong>
      </ul>
    </div>
    <!-- Attested creation warning -->
    <div *ngIf="!attestedNameValid(newAttested) || !attestedValueValid(newAttested)" class="alert alert-primary alert-dismissible fade show" role="alert">
      <span class="fa fa-warning"></span> Note:
      <ul>
        <li>Only use alphanumeric attribute names.</li>
        <li>You cannot define the same name twice.</li>
        <li>IDs and values may not be empty!</li>
      </ul>
    </div>

    <!--IdProvider-Discovery-->
    <div *ngIf="!newIdProviderDiscovered()" class="input-group my-2 col-lg-4">
      <div class="input-group-prepend">
        <span class="input-group-text">@</span>
      </div>
      <input placeholder="E-Mail Adress" class="form-control"  [(ngModel)]="webfingerEmail">
    </div>
    <!--Issuer Discovery Warning-->
    <div *ngIf="!isValidEmailforDiscovery()" class="alert alert-primary alert-dismissible fade show" role="alert">
      <span class="fa fa-warning"></span> This is not a valid e-mail adress
    </div>
    <!--Email not found Warning-->
    <div *ngIf="!emailNotFoundAlertClosed && webfingerEmail==''" class="alert alert-danger alert-dismissible fade show my-2" role="alert">
      <span class="fa fa-warning"></span> No account found with this email
    </div>
    
    <button *ngIf="isExperimental() && !newIdProviderDiscovered()" class="btn btn-primary mb-4 fhg-link" (click)="getFhGAttestation()">
      <span class="fa fa-user"></span> Link Fraunhofer Account
    </button>
    <!--Link account-->
    <button *ngIf="isExperimental() && newIdProviderDiscovered() && !grantedAccessToIdProvider()" class="btn btn-primary mb-4 fhg-link" (click)="loginFhgAccount()">
      <span class="fa fa-user"></span> Link {{getNewIdProviderName()}} Account
    </button>
    <!--Save account-->
    <div *ngIf="isExperimental() && newIdProviderDiscovered() && grantedAccessToIdProvider()" class="input-group my-2 col-lg-4">
      <div class="input-group-prepend">
        <span class="input-group-text">Attestation Name</span>
      </div>
      <input placeholder="Attestation Name" class="form-control"  [(ngModel)]="newAttestation.name">
    </div>
    <button *ngIf="isExperimental() && newIdProviderDiscovered() && grantedAccessToIdProvider()" [disabled]="newAttestation.name==''" class="btn btn-primary mb-4 fhg-link" (click)="saveIdProvider()">
      <span class="fa fa-user"></span> Save {{getNewIdProviderName()}} Account
    </button>
    <button *ngIf="isExperimental() && newIdProviderDiscovered()" class="btn btn-primary mb-4 fhg-link" (click)="cancleLinking()">
      Cancle Linking
    </button>

    
    <hr/>

    <!-- Edit card buttons -->
    <div>
      <button class="btn btn-primary" (click)="saveIdentity()" [disabled]="!canSaveIdentity()">
        <span class="fa fa-save"></span> Save and Back
      </button>
      <button *ngIf="!inOpenIdFlow()" class="btn btn-primary" [routerLink]="['/edit-authorizations', identity.name]" [style.float]="'right'">
        <span class="fa fa-openid"></span>
        Manage authorizations
      </button>
      <button *ngIf="!inOpenIdFlow() && isExperimental()" class="btn btn-primary" [routerLink]="['/edit-attestations', identity.name]" [style.float]="'right'">
        <span class="fa fa-openid"></span>
        Manage attestations
      </button>

    </div>
  </div>
</div>
