<!-- Identity edit screen -->
<div class="m-2 card">
  <div class="card-avatar card-img-top">
    <div class="card-avatar-character text-dark" >
      {{getMessage("edit_credentials_html@credentialsFor")}} <i>{{ identity.name }}</i>
    </div>
  </div>
  <!-- Credential management -->
  <div class="card-body">
    <h3 >{{getMessage("edit_credentials_html@linkAccount")}}</h3>
    <!--IdProvider-Discovery-->
    <div>
      <!--Email not found Warning-->
      <div *ngIf="!emailNotFoundAlertClosed && webfingerEmail==''"
        class="alert alert-danger alert-dismissible fade show my-2" role="alert">
        <span class="fa fa-warning"></span> {{errorMassage}}
      </div>
      <!--Issuer Discovery Warning-->
      <div *ngIf="!isValidEmailforDiscovery()" class="alert alert-primary alert-dismissible fade show" role="alert" >
        <span class="fa fa-warning"></span> {{getMessage("edit_credentials_html@notCompatible")}}
      </div>
      <div *ngIf="!newIdProviderDiscovered() && !loggedIn()"
        class="alert alert-secondary alert-dismissible fade show my-2" role="alert" >
        <span class="fa fa-info"> </span>  <b class="ml-2">{{getMessage("edit_credentials_html@info")}}</b><br/>
        {{getMessage("edit_credentials_html@linkAccountInfo1")}}<br/>
        <i>{{getMessage("Note")}}</i>{{getMessage("edit_credentials_html@linkAccountInfo2")}}
      </div>
      <div *ngIf="!newIdProviderDiscovered()" class="my-2 col-lg-4">
        <input placeholder="user@example.com" [(ngModel)]="webfingerEmail">
        <button *ngIf="!newIdProviderDiscovered()" class="btn btn-primary fhg-link" (click)="discoverIdProvider()" >
          <span class="fa fa-search"></span> {{getMessage("edit_credentials_html@checkCompatability")}}
        </button>
      </div>
      <!--Description-->
      <!--Link account-->
      <div *ngIf="newIdProviderDiscovered() && !loggedIn()" class="mb-3 px-2">
          <div class="mx-n2" >{{getMessage("edit_credentials_html@availableClaims")}}</div>
          <div *ngFor="let scope of scopes" class="mx-2">
            <i class="fa text-primary" [class.fa-toggle-off]="!scope.chosen" [class.fa-toggle-on]="scope.chosen" [class.text-muted]="necessaryScope(scope.scope)" (click)="!necessaryScope(scope.scope) && scope.chosen = !scope.chosen"></i>
            <span class="ml-1" [class.text-muted]="necessaryScope(scope.scope)">{{scope.scope}}</span>
            <!--<input type="checkbox" class="form-check-input" id="scopes" [disabled]="necessaryScope(scope.scope)" [(ngModel)]="scope.chosen">-->
            <!--<label class="form-check-label" for="scope.chosen">{{scope.scope}}</label>-->
          </div>
        <button class="btn btn-primary mb-1 mt-2 fhg-link" (click)="loginFhgAccount()" >
          <span class="fa fa-link"></span> {{getMessage("edit_credentials_html@link")}}
        </button>
        <button class="btn btn-primary mb-1 fhg-link" (click)="cancelLinking()" >
          <span class="fa fa-close"></span> {{getMessage("Cancel")}}
        </button>
      </div>
    </div>
    <hr />

    <h3 >{{getMessage("edit_credentials_html@credentials")}}</h3>
    <!-- Credential creation warning -->
    <div
      *ngIf="loggedIn() && !credentialNameValid(newCredential) || !credentialTypeValid(newCredential) || !credentialValueValid(newCredential)"
      class="alert alert-primary alert-dismissible fade show" role="alert" >
      <span class="fa fa-warning"></span> {{getMessage("Note")}}
      <ul>
        <li>{{getMessage("edit_credentials_html@note1")}}</li>
        <li>{{getMessage("edit_credentials_html@note2")}}</li>
        <li>{{getMessage("edit_credentials_html@note3")}}</li>
      </ul>
    </div>

    <!-- Requested credential -->
    <table class="table pb-1" style="">
      <thead>
        <tr>
          <th >{{getMessage("edit_credentials_html@name")}}</th>
          <th >{{getMessage("edit_credentials_html@type")}}</th>
          <th >{{getMessage("edit_credentials_html@expires")}}</th>
          <th >{{getMessage("edit_credentials_html@issuer")}}</th>
        </tr>
      </thead>
      <tbody>
        <tr [class.alert-danger]="newCredential.name === credential.name"
          [class.alert-warning]="!isCredentialValid(credential)" *ngFor="let credential of credentials">
          <td>
            <div style="min-width: 15em">{{credential.name}}</div>
          </td>
          <td>
            <div>{{credential.type}}</div>
          </td>
          <td>
            <div>{{getExpiration(credential)}}</div>
          </td>
          <!--ISSUER          <td>
            <div style="min-width: 15em">
            </div>
</td>-->
          <td>
            <div style="min-width: 15em">{{credential.issuer}}</div>
          </td>
          <td>
            <button class="btn btn-primary" (click)="deleteCredential(credential)">
              <span class="fa fa-trash"></span>
            </button>
          </td>
          <td>
            <div *ngIf="!isCredentialValid(credential)"> <span style="color:#f00" > {{getMessage("edit_credentials_html@expired")}} </span> <span
                class="fa fa-times"></span> </div>
          </td>
        </tr>
        <!-- FIXME implement adding plain text credentials -->
      </tbody>
    </table>

    <!-- Edit card buttons -->
    <div>
      <button class="btn btn-primary" [routerLink]="['/edit-identity', identity.name ]">
        <span class="fa fa-save"></span> {{getMessage("Back")}}
      </button>
    </div>
  </div>
</div>
