<!-- Identity edit screen -->
<div class="m-2 card">
  <div class="card-avatar card-img-top">
    <div class="card-avatar-character text-dark" >
      {{getMessage("edit_credentials_html@credentialsFor")}} <i>{{ identity.name }}</i>
    </div>
  </div>
  <!-- Credential management -->
  <div class="card-body">
    <div class="alert alert-secondary" *ngIf="credentials.length == 0">
      No credentials found for {{ identity.name }}
    </div>
    <h3 *ngIf="credentials.length > 0">{{getMessage("edit_credentials_html@credentials")}}</h3>
    <!-- Requested credential -->
    <div class="table pb-1" style="" *ngIf="credentials.length > 0">
      <div class="row head">
        <div class="col-sm underline">
          {{getMessage("edit_credentials_html@issuer")}}
        </div>
        <div class="col-sm underline">
          {{getMessage("edit_credentials_html@type")}}
        </div>
          <div class="col-sm underline">
            {{getMessage("edit_credentials_html@expires")}}
          </div>
          <div class="col-sm underline">
            {{getMessage("edit_credentials_html@name")}}
          </div>
          <div class="col-sm"></div>
      </div>
      <div class="row mb-1"
           [class.alert-danger]="newCredential.name === credential.name"
           [class.alert-warning]="!isCredentialValid(credential)" *ngFor="let credential of credentials">
        <div class="col-sm">
          <div>{{getIssuerName(credential)}}</div>
        </div>
        <div class="col-sm">
          {{credential.type}}
        </div>
        <div class="col-sm">
          {{getExpiration(credential)}}
        </div>
        <!--ISSUER          <td>
          <div style="min-width: 15em">
          </div>
          </td>-->
          <div class="col-sm">
            <div>{{credential.name}}</div>
          </div>
          <div class="col-sm">
            <button class="btn btn-primary" 
                    *ngIf="showConfirmDelete != credential"
                    (click)="showConfirmDelete = credential">
              <span class="fa fa-trash"></span> {{getMessage("Delete")}}
            </button>
            <div class="alert alert-danger fade show" *ngIf="showConfirmDelete == credential">
              {{getMessage("edit_credentials_html@deleteCredential")}}<br/><br/>
              <button class="btn btn-primary m-2"
                      (click)="deleteCredential(credential)">
                <span class="fa fa-check"></span> {{getMessage("Yes")}}
              </button>
              <button class="btn btn-primary m-2" (click)="showConfirmDelete = null">
                <span class="fa fa-times"></span> {{getMessage("No")}}
              </button>
            </div>
          </div>
          <!--<div class="col-sm">
            <div *ngIf="!isCredentialValid(credential)">
              <span style="color:#f00" > {{getMessage("edit_credentials_html@expired")}} </span> <span class="fa fa-times"></span>
            </div>
          </div>-->
      </div>
    </div>

    <!-- Edit card buttons -->
    <div>
      <button class="btn btn-primary" [routerLink]="['/edit-identity', identity.name ]">
        <span class="fa fa-arrow-left"></span> {{getMessage("Back")}}
      </button>
    </div>
  </div>
</div>
