<!-- Identity edit screen -->
<div class="m-2 card">
  <div class="card-avatar card-img-top">
    <div class="card-avatar-character text-dark" >
      {{getMessage("edit_credentials_html@credentialsFor")}} <i>{{ identity.name }}</i>
    </div>
  </div>
  <!-- Credential management -->
  <div class="card-body">
    <div class="alert alert-secondary" *ngIf="credentials.length == 0">
      No credentials found for {{ identity.name }}
    </div>
    <h3 *ngIf="credentials.length > 0">{{getMessage("edit_credentials_html@credentials")}}</h3>
    <!-- Requested credential -->
    <table class="table pb-1" style="" *ngIf="credentials.length > 0">
      <thead>
        <tr>
          <th >{{getMessage("edit_credentials_html@issuer")}}</th>
          <th >{{getMessage("edit_credentials_html@type")}}</th>
          <th >{{getMessage("edit_credentials_html@expires")}}</th>
          <th >{{getMessage("edit_credentials_html@name")}}</th>
        </tr>
      </thead>
      <tbody>
        <tr [class.alert-danger]="newCredential.name === credential.name"
          [class.alert-warning]="!isCredentialValid(credential)" *ngFor="let credential of credentials">
          <td>
            <div style="min-width: 15em">{{getIssuerName(credential)}}</div>
          </td>
          <td>
            <div>{{credential.type}}</div>
          </td>
          <td>
            <div>{{getExpiration(credential)}}</div>
          </td>
          <!--ISSUER          <td>
            <div style="min-width: 15em">
            </div>
</td>-->
          <td>
            <div style="min-width: 15em">{{credential.name}}</div>
          </td>
          <td>
            <button class="btn btn-primary" (click)="deleteCredential(credential)">
              <span class="fa fa-trash"></span>
            </button>
          </td>
          <td>
            <div *ngIf="!isCredentialValid(credential)"> <span style="color:#f00" > {{getMessage("edit_credentials_html@expired")}} </span> <span
                class="fa fa-times"></span> </div>
          </td>
        </tr>
        <!-- FIXME implement adding plain text credentials -->
      </tbody>
    </table>

    <!-- Edit card buttons -->
    <div>
      <button class="btn btn-primary" [routerLink]="['/edit-identity', identity.name ]">
        <span class="fa fa-save"></span> {{getMessage("Back")}}
      </button>
    </div>
  </div>
</div>
