<!-- Identity edit screen -->
<div class="m-2 card">
  <div class="card-avatar card-img-top">
    <div class="card-avatar-character text-dark">
      Manage attestations for <i>{{ identity.name }}</i>
    </div>
  </div>
  <!-- Attestation management -->
  <div class="card-body">
    <!-- Requested attestation -->
    <table class="table pb-1" style="">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Expires</th>
          <!--<th>Issuer</th>-->
          <th>Issuer</th>
        </tr>
      </thead>
      <tbody>
        <tr [class.alert-danger]="newAttestation.name === attestation.name" [class.alert-warning]="!isAttestationValid(attestation)" *ngFor="let attestation of attestations">
          <td><div style="min-width: 15em">{{attestation.name}}</div></td>
          <td>
            <div>{{attestation.type}}</div>
          </td>
          <td>
            <div>{{getExpiration(attestation)}}</div>
          </td>
<!--ISSUER          <td>
            <div style="min-width: 15em">
            </div>
</td>-->
          <td><div style="min-width: 15em">{{attestation.issuer}}</div></td>
          <td>
            <button class="btn btn-primary"  (click)="deleteAttestation(attestation)">
              <span class="fa fa-trash"></span>
            </button>
          </td>
          <td>
            <div *ngIf= "!isAttestationValid(attestation)"> <span style="color:#f00"> Expired </span> <span class="fa fa-times"></span> </div>
          </td>
        </tr>
        <tr [class.alert-danger]="isAttestInConflict(newAttestation)" *ngIf="newAccessGranted()">
          <td>
            <input [class.text-danger]="!attestationNameValid(newAttestation)" placeholder="Attestation" [(ngModel)]="newAttestation.name">
          </td>
          <td><div style="min-width: 15em">JWT</div></td>
          <td>
            {{getNewAttestationExpiration()}}
          </td>
          <td><div style="min-width: 15em">{{newIdProvider.url}}</div></td>
          <td>
            <button [disabled]="!canAddAttestation(newAttestation)" class="btn btn-primary"  (click)="saveIdProvider()">
              <span class="fa fa-plus"></span> 
            </button>
            <button class="btn btn-primary ml-2"  (click)="cancleAdding()">
              <span class="fa fa-trash"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Attestation creation warning -->
    <div *ngIf="newAccessGranted() && !attestationNameValid(newAttestation) || !attestationTypeValid(newAttestation) || !attestationValueValid(newAttestation)" class="alert alert-primary alert-dismissible fade show" role="alert">
      <span class="fa fa-warning"></span> Note:
      <ul>
        <li>Only use alphanumeric attestation names.</li>
        <li>You cannot define the same name twice.</li>
        <li>Types and values may not be empty!</li>
      </ul>
    </div>
    <hr/>
    <!-- Edit card buttons -->
    <div>
      <button class="btn btn-primary" (click)="goBack()" [disabled]="!canGoBack()">
        <span class="fa fa-save"></span> Back
      </button>
    </div>
  </div>
</div>

