<div class="m-2 card">
  <div class="card-avatar card-img-top">
    <div class="card-avatar-character text-dark" >
      Configuration
    </div>
  </div>
  <!-- Credential management -->
  <div class="card-body">
    <div style="margin: 1em" (click)="toggleExperimental()">
      <i [className]="isExperimental() ? 'fa fa-toggle-on mr-2' : 'fa fa-toggle-off mr-2'"></i>
      <b *ngIf="isExperimental()">{{getMessage("app_html@experimentalEnabled")}}</b><span *ngIf="!isExperimental()">{{getMessage("app_html@experimentalDisabled")}}</span>
    </div>
    <span class="mr-2">re:claimID REST API base URL</span> <input [(ngModel)]="config.apiUrl">
    <div>
      <button class="btn btn-primary" (click)="saveAndBack()">
        <span class="fa fa-save"></span> {{ getMessage("SaveAndBack") }}
      </button>

  </div>
</div>

